<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Trabalho 3 DCC193</title>
    </head>
    <body>
    <div th:fragment="cabecalho">
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <a class="navbar-brand" href="/home">Página Inicial</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/itens}">Itens</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" th:href="@{/tags}">Tags</a>
                    </li>
                </ul>
            </div>
        </nav>
<!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <br/>
    </div>
    </body>
</html>