<div th:replace="fragments/cabecalho :: cabecalho"></div>


<h4>Add Novo Item</h4>

<form th:action="@{/itens/salvarItem}" method="post" th:object="${item}">
    <input type="hidden" name="itemId" th:field="*{id}">
    <div class=" row form-group">
        <div class="col-md-6">
            <label>Titulo</label>
            <input type="text" name="titulo" class="form-control" th:field="*{titulo}">
            <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
    <a th:href="@{/itens/}" class="btn btn-danger">Cancelar</a>
</form>


<div th:replace="fragments/rodape :: rodape"></div>